node_modules
pkg
wasm-pack.log
docs

target/
node_modules/
src/
test/
lib/**/*.ts

.vscode
.github

.npmignore

Cargo.toml
Cargo.lock
token
karma.conf.js
karma.performance.js
dist/test
tsconfig.json
webpack.config.js
